
<h1>Educational Chat Rooms</h1>
<div class="jumbotron">
    <h3>What's it about? </h3>
    <p> This Web applications is built for St Mary's DSG Outreach and it aims to provide an online platform for students and teachers to interact with each other.  </p>
    <p>
        The aim is to contribute to solving the goal of Quality Education
        <a href="https://www.un.org/sustainabledevelopment/sustainable-development-goals/">(Goal 4 of the UN's Sustainable Development Goals). </a>
        The rise of the Internet of Things brought about the Digital Divide where many people are excluded from being a digital citizien due to their lack of access to the Internet.
        This web applications will hopefully contribute to decreasing the gap.
    </p>
    <p>
        There were many ways in which I could have built this applications and all those ways had one thing in common... Object Oriented Programming.
        When everything is object oriented, it helps save resources and reduce redundant code. The image below shows a diagram of my Class Structure (which gives you an idea of the data flow within the application).
    </p>
    <p><a class="btn btn-primary btn-lg" id="structure" href="~/Media/Images/UMLClass.jpeg"> Class Structure </a></p>
</div>
<h2> Use Case Narratives </h2>
<div>
    <p style="font-size: 20px;" class="lead">For a more technical explanation, I have included the Use Case Narratives for this system. </p>
    <p style="font-size: 20px;" class="lead"> These Narratives will describe in more detail of how the application was built and will hopefully give you a stronger understanding of the struture (as shown above) behind everthing. </p>
</div>
<div class='embed-responsive' style='padding-bottom:110%'>
    <iframe src="~/Media/Documents/UseCaseNarratives.pdf" height="300"></iframe>
</div>

<script>
    $('#structure').magnificPopup({ type: 'image' });
</script>